  
.copy a:hover{
   color:#14274F;
   font-weight: bold;
   padding-left:5px;
   text-decoration: none;
}

#backToTop{
    position: fixed;
	bottom: 2rem;
	right: 2rem;
	cursor: pointer;
	display: none;
    color: red;
    background: rgba(0,0,0,0.3);
    border-radius: 0;
}