<div class="py-1 top" style=" background-image: linear-gradient(45deg, rgb(253, 77, 65) 0%, rgb(255, 164, 27) 115% );">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+91 9582554359 &nbsp;+91 9911424359</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">dikshamehra0725@gmail.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">
						    <!-- <p class="mb-0 register-link"><a href="#" class="mr-3">Sign Up</a><a href="#">Sign In</a></p> -->
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	     <a routerLink='/'> <img src="../../../assets/images/Logo_dentist1.png" alt="Caring Crowns Dental Clinic | Greater Noida" width="80px" class="mt-1"></a>
	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a routerLink="/" class="nav-link"><span data-toggle="collapse" data-target=".navbar-collapse.show">Home</span></a></li>
	          <li class="nav-item"><a routerLink="/about" class="nav-link" ><span data-toggle="collapse" data-target=".navbar-collapse.show">About Us</span></a></li>
	          <li class="nav-item"><a routerLink="/treatments" class="nav-link"><span data-toggle="collapse" data-target=".navbar-collapse.show">Treatments</span></a></li>
	          <li class="nav-item"><a routerLink="/service" class="nav-link"><span data-toggle="collapse" data-target=".navbar-collapse.show">Services</span></a></li>
	          <li class="nav-item"><a routerLink="/contact" class="nav-link"><span data-toggle="collapse" data-target=".navbar-collapse.show">Contact Us</span></a></li>
			 <li><button type="button" class="header-button" (click)="openModalAppointment(template)" data-toggle="collapse" data-target=".navbar-collapse.show">Appointment</button></li> 
	        </ul>
	      </div>
	    </div>
	  </nav> 
<br>
 
<ng-template #template>
	<div class="modal-header">
	  <!-- <h4 class="modal-title pull-left">Make an Appointment </h4> -->
	  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
  <div class="card" style="background-image: url(assets/images/surgery.jpg);">
	<article class="card-body mx-auto" style="max-width: 500px;">
	  
	  <h4 class="text-center mb-4">Make an Appointment</h4>
	  <p>
		<a href="" class="btn btn-block btn-facebook"><img src="https://img.icons8.com/ios/50/000000/facebook-like.png" width="25">  Follow us on facebook</a>
	  </p>
	  <p class="divider-text mt-4">
			<span class="bg-light">OR</span>
		</p>
	  <form>
	  <div class="form-group input-group mt-4">
		<div class="input-group-prepend">
			<span class="input-group-text"> <img src="https://img.icons8.com/android/24/000000/user.png" width="20"> </span>
		 </div>
			<input name="" class="form-control box" placeholder="Full name" type="text" required>
		</div> <!-- form-group// -->
		<div class="form-group input-group">
		  <div class="input-group-prepend">
			<span class="input-group-text"> <img src="https://img.icons8.com/material-sharp/64/000000/mobile-email.png" width="20"> </span>
		</div>
		  <input name="" class="form-control" placeholder="Phone number" type="text" required>
		</div> <!-- form-group// -->
		<div class="form-group input-group">
		  <div class="input-group-prepend">
			<span class="input-group-text"> <img src="https://img.icons8.com/metro/26/000000/date-to.png" width="20"> </span>
		</div>
		  <input name="" class="form-control" placeholder="Appointment Date" type="date" required>
		</div> <!-- form-group// -->
		<div class="form-group input-group">
		  <div class="input-group-prepend">
			<span class="input-group-text"> <img src="https://img.icons8.com/metro/26/000000/open-envelope.png" width="20"> </span>
		 </div>
			<input name="" class="form-control box" placeholder="Email address" type="email">
		</div> <!-- form-group// -->
		<div class="form-group input-group">
		  <div class="input-group-prepend">
			<span class="input-group-text"> <img src="https://img.icons8.com/metro/26/000000/pencil.png" width="20"> </span>
		</div>
		<textarea name="" class="form-control" rows="2" cols="30" placeholder="Write Your Message"></textarea>
	  </div> <!-- form-group end.// -->                                      
		<div class="form-group">
			<button type="submit" class="home-button pl-3 pr-3 mt-3"> Submit </button>
			<button type="submit" class="header-button ml-4 pl-3 pr-3 mt-3" (click)="modalRef.hide()"> Cancel  </button>
		</div> <!-- form-group// -->                                                                   
	</form>
	</article>
	</div> 
	</div>
</ng-template>