/* modal Css */
.header-button{
  background: linear-gradient(45deg, #F44336 0%, #FF9800 95% );
  border-radius: 40px;
  text-align: center;
  border:none;
  padding:10px;
  color:#fff;
  font-size:16px;
}

@media (max-width: 768px){
  .header-button{
      width:130px;
      padding-top:10px;               
  }
}

/* modal Css */


.banner6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #595e69;
  font-weight: 400;
  overflow: hidden;
  position: relative;
}

.banner6 h1,
.banner6 h2,
.banner6 h3,
.banner6 h4,
.banner6 h5,
.banner6 h6 {
  color: #2c3038;
}

.banner6 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.banner6 a {
  text-decoration: none;
}

.banner6 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.banner6 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.banner6 .btn-md {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.banner6 .bg-facebook {
  background-color: #3b5a9a;
}

.banner6 .bg-twitter {
  background-color: #56adf2;
}

.banner6 .text-danger {
  color: #ff4d7e !important;
}

.banner6 .image {
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  
}

.banner6 .contact-form {
 
  min-height: 500px;
  box-shadow: 0 5px 10px 5px rgb(189, 189, 189);
  margin-left:200px;
  margin-right:0;
  
}

.text{
  font-size: 14px;
}

@media (max-width: 1023px) {
  .banner6 .contact-form {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .banner6 .contact-form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1023px) {
	.banner6 .right-image {
		position: relative;
		bottom: -95px;
	}
}


.testimonial8 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #8d97ad;
  font-weight: 300;
}

.testimonial8 h1,
.testimonial8 h2,
.testimonial8 h3,
.testimonial8 h4,
.testimonial8 h5,
.testimonial8 h6 {
  color: #3e4555;
}

.testimonial8 h5 {
		line-height: 22px;
    font-size: 18px;
}

.testimonial8 .font-13 {
	font-size: 13px;
}

.testimonial8 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.testimonial8 .testi8 {
  margin-bottom: 0px;
}

.testimonial8 .testi8 .bg {
  background-size: cover;
  background-attachment: fixed;
  padding: 150px 0;
}

.testimonial8 .testi8 .play-icon {
  font-size: 34px;
  color: #ffffff;
}

.testimonial8 .testi8 .owl-dots {
  display: inline-block;
  position: relative;
  top: -45px;
}

.testimonial8 .testi8 .owl-dots .owl-dot {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-size: cover;
  margin-right: 10px;
  opacity: 0.4;
  cursor: pointer;
}

.testimonial8 .testi8 .owl-dots .owl-dot span {
  display: none;
}

.testimonial8 .testi8 .owl-dots .owl-dot.active,
.testimonial8 .testi8 .owl-dots .owl-dot:hover {
  opacity: 1;
}


.input-group-text{
  background-color: #fff;
  height: 40px;
}
.form-control{
  height: 40px !important;
}
.carder{
  border-radius: 20px;
  height: 95%;
  box-shadow: 5px 5px 8px rgb(148, 148, 148);
}

.text{
  font-size: 14px;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: rgb(45, 111, 235);
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}
