<div class="py-5">
        <div class="container">
          <div class="row justify-content-center mt-4">
            <div class="col-md-7 text-center">
              <h1 class="mb-3" style="color:rgb(0, 0, 75); font-weight:700;">TREATMENTS</h1>
              <h6 class="mb-5">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
          </div>
          <div class="row mt-5">
            <!-- column  -->
            <div class="col-md-3 mb-5">
                <div class="col-md-12 text-center">
                  <img src="../../../assets/images/png/1.png" alt="Dental Fillings" class="img-fluid rounded-circle" width="160"/>
                  <div class="pt-2 text-center">
                    <h5 class="mt-2 font-weight-medium mb-0">Dental Fillings</h5>                              
                  </div>
                </div>
             </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-md-3 mb-5">
                <div class="col-md-12 text-center">
                  <img src="../../../assets/images/png/tooth.png" alt="Teeth Whitening" class="img-fluid rounded-circle" width="160"/>
                  <div class="pt-2 text-center">
                    <h5 class="mt-2 font-weight-medium mb-0">Teeth Whitening</h5>                              
                  </div>
                </div>
              </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-md-3 mb-5">
              <div class="col-md-12 text-center">
                  <img src="../../../assets/images/png/root-canal.png" alt="Root Canel Treatment" class="img-fluid rounded-circle" width="160"/>
                  <div class="pt-2 text-center">
                    <h5 class="mt-2 font-weight-medium mb-0">Root Canel Treatment</h5>                              
                  </div>
                </div>
              </div>
            <!-- column  -->
             <!-- column  -->
             <div class="col-md-3 mb-5">
                <div class="col-md-12 text-center">
                    <img src="../../../assets/images/png/denture.png" alt="Dentures" class="img-fluid rounded-circle" width="160"/>
                    <div class="pt-2 text-center">
                      <h5 class="mt-2 font-weight-medium mb-0">Dentures</h5>                              
                    </div>
                  </div>
                </div>
              <!-- column  -->
               <!-- column  -->
             <div class="col-md-3 mb-5">
                <div class="col-md-12 text-center">
                    <img src="../../../assets/images/png/implant.png" alt="Dental Implants" class="img-fluid rounded-circle" width="160"/>
                    <div class="pt-2 text-center">
                      <h5 class="mt-2 font-weight-medium mb-0">Dental Implants</h5>                              
                    </div>
                  </div>
                </div>
              <!-- column  -->
                <!-- column  -->
             <div class="col-md-3 mb-5">
                <div class="col-md-12 text-center">
                    <img src="../../../assets/images/png/2.png" alt="Preventive Dentistry" class="img-fluid rounded-circle" width="160"/>
                    <div class="pt-2 text-center">
                      <h5 class="mt-2 font-weight-medium mb-0">Preventive Dentistry</h5>                              
                    </div>
                  </div>
                </div>
              <!-- column  -->
                 <!-- column  -->
             <div class="col-md-3 mb-5">
                <div class="col-md-12 text-center">
                    <img src="../../../assets/images/png/3.png" alt="Braces & Aligners" class="img-fluid rounded-circle" width="160"/>
                    <div class="pt-2 text-center">
                      <h5 class="mt-2 font-weight-medium mb-0">Braces & Aligners</h5>                              
                    </div>
                  </div>
                </div>
              <!-- column  -->
            <!-- column  -->
            <div class="col-md-3 mb-5">
              <div class="col-md-12 text-center">
                  <img src="../../../assets/images/png/removal.png" alt="Teeth Removal" class="img-fluid rounded-circle" width="160"/>
                  <div class="pt-2 text-center">
                    <h5 class="mt-2 font-weight-medium mb-0">Teeth Removal</h5>                              
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>